@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.main{
  background-color:#f4f4f4;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
   transition: transform .2s;
  }
.main:hover{
  transform: scale(1.02);
}
.order-text {
  margin-left: 480px;
  margin-top: 15px;
}
.place-order {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 480px;
  margin-bottom: 40px;
  cursor: pointer;
  opacity: 0.8;
}
.place-order:hover{
  opacity: 1;
}